# Préparation des données
S'appuie sur le notebook kaggle de Aguiar : https://www.kaggle.com/jsaguiar/lightgbm-with-simple-features

In [1]:
import numpy as np
import pandas as pd
import gc
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing, impute
import pickle

# Prétraitement des données générales (application_train)

In [2]:
# récupération des données

df = pd.read_csv('data/application_train.csv')
test_df = pd.read_csv('data/application_test.csv')
print("Train samples: {}, test samples: {}".format(len(df), len(test_df)))

Train samples: 307511, test samples: 48744

In [3]:
# suppression des données non genrées

df = df[df["CODE_GENDER"]!="XNA"]

In [4]:
# les données test sont agrégées aux données d'entraînement

df = df.append(test_df).reset_index()
df.shape

(356251, 123)

In [5]:
# remplacement de la valeur aberrante dans DAYS_EMPLOYED et ajout d'un drapeau pour signaler l'aberration

df['DAYS_EMPLOYED_ANOM'] = (df["DAYS_EMPLOYED"] == 365243)
df['DAYS_EMPLOYED_ANOM'] = df['DAYS_EMPLOYED_ANOM'].astype(object)
df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)

In [6]:
# encodage des données catégorielles par Label Encoding

categorical_names = {} # liens entre labels et valeurs catégorielles

cat_features = [col for col in df.columns if (df[col].dtype == 'object' or "FLAG" in col)]

for feature in cat_features:
    df[feature].replace(to_replace=np.nan, value="NaN", inplace=True)
    le = preprocessing.LabelEncoder()
    le.fit(df[feature])
    df[feature] = le.transform(df[feature])
    categorical_names[feature] = le.classes_

print(f"Taille du data set : {df.shape}")
missing_values_prop = df.isnull().sum().sum()/df.size
print(f"Proportion de valeurs manquantes : {missing_values_prop}")

Taille du data set : (356251, 124)
Proportion de valeurs manquantes : 0.22154550149083904

In [7]:
# imputation par KNN
cols = list(df.columns)
del cols[2]

df[cols] = impute.KNNImputer().fit_transform(df[cols])

In [8]:
# ajout de nouveaux attributs

# pourcentage de jours d'emploi sur la vie totale
df['DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']

# ratio des revenus sur le montant du crédit
df['INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']

# rentrée d'argent moyenne par personne du foyer
df['INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']

# part de l'annuité du crédit dans les rentrées d'argent du foyer
df['ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']

# taux de remboursement
df['PAYMENT_RATE'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']

print(f"Taille du data set : {df.shape}")
missing_values_prop = df.isnull().sum().sum()/df.size
print(f"Proportion de valeurs manquantes : {missing_values_prop}")

Taille du data set : (356251, 129)
Proportion de valeurs manquantes : 0.0010606579774268116

In [ ]:
# enregistrement des données

df.to_csv("data/df1.csv", index=False)

# Prétraitement des données des crédits antérieurs des autres organismes bancaires

In [9]:
# récupération des données

bureau = pd.read_csv('data/bureau.csv')
bb = pd.read_csv('data/bureau_balance.csv')

In [10]:
# premières infos

print(f"bureau : {bureau.shape}")
bureau.head()

bureau : (1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [11]:
# stats

bureau.describe(include="all")

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.716428e+06,1.716428e+06,1716428,1716428,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1716428,1.716428e+06,4.896370e+05
unique,NaN,NaN,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN
top,NaN,NaN,Closed,currency 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer credit,NaN,NaN
freq,NaN,NaN,1079273,1715020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1251615,NaN,NaN
mean,2.782149e+05,5.924434e+06,NaN,NaN,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,NaN,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,NaN,NaN,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,NaN,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,NaN,NaN,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,NaN,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,NaN,NaN,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,NaN,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,NaN,NaN,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,NaN,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,NaN,NaN,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,NaN,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,NaN,NaN,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,NaN,3.720000e+02,1.184534e+08

In [12]:
# premières infos

print(f"bureau balance : {bb.shape}")
bb.head()

bureau balance : (27299925, 3)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [13]:
# stats
print(bb.dtypes)
bb.describe(include="all")

SK_ID_BUREAU       int64
MONTHS_BALANCE     int64
STATUS            object
dtype: object

        SK_ID_BUREAU  MONTHS_BALANCE    STATUS
count   2.729992e+07    2.729992e+07  27299925
unique           NaN             NaN         8
top              NaN             NaN         C
freq             NaN             NaN  13646993
mean    6.036297e+06   -3.074169e+01       NaN
std     4.923489e+05    2.386451e+01       NaN
min     5.001709e+06   -9.600000e+01       NaN
25%     5.730933e+06   -4.600000e+01       NaN
50%     6.070821e+06   -2.500000e+01       NaN
75%     6.431951e+06   -1.100000e+01       NaN
max     6.842888e+06    0.000000e+00       NaN

In [14]:
# encodage des variables catégorielles

# One-hot encoding pour variables catégorielles avec get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in list(df.columns) if c not in original_columns]
    return df, new_columns



bb, bb_cat = one_hot_encoder(bb, nan_as_category=True)
bureau, bureau_cat = one_hot_encoder(bureau, nan_as_category=True)

print(f"bureau : {bureau.shape}")
print(f"bureau balance : {bb.shape}")

bureau : (1716428, 40)
bureau balance : (27299925, 11)

In [15]:
# préparation des agrégations

bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}
for col in bb_cat:
    bb_aggregations[col] = ['mean']
    
bb_aggregations

{'MONTHS_BALANCE': ['min', 'max', 'size'],
 'STATUS_0': ['mean'],
 'STATUS_1': ['mean'],
 'STATUS_2': ['mean'],
 'STATUS_3': ['mean'],
 'STATUS_4': ['mean'],
 'STATUS_5': ['mean'],
 'STATUS_C': ['mean'],
 'STATUS_X': ['mean'],
 'STATUS_nan': ['mean']}

In [16]:
# agrégats

bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations)
bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])
bb_agg

,MONTHS_BALANCE_MIN,MONTHS_BALANCE_MAX,MONTHS_BALANCE_SIZE,STATUS_0_MEAN,STATUS_1_MEAN,STATUS_2_MEAN,STATUS_3_MEAN,STATUS_4_MEAN,STATUS_5_MEAN,STATUS_C_MEAN,STATUS_X_MEAN,STATUS_nan_MEAN
SK_ID_BUREAU,,,,,,,,,,,,
5001709,-96,0,97,0.000000,0.000000,0.0,0.0,0.0,0.0,0.886598,0.113402,0
5001710,-82,0,83,0.060241,0.000000,0.0,0.0,0.0,0.0,0.578313,0.361446,0
5001711,-3,0,4,0.750000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.250000,0
5001712,-18,0,19,0.526316,0.000000,0.0,0.0,0.0,0.0,0.473684,0.000000,0
5001713,-21,0,22,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6842884,-47,0,48,0.187500,0.000000,0.0,0.0,0.0,0.0,0.416667,0.395833,0
6842885,-23,0,24,0.500000,0.000000,0.0,0.0,0.0,0.5,0.000000,0.000000,0
6842886,-32,0,33,0.242424,0.000000,0.0,0.0,0.0,0.0,0.757576,0.000000,0
6842887,-36,0,37,0.162162,0.000000,0.0,0.0,0.0,0.0,0.837838,0.000000,0
6842888,-61,0,62,0.145161,0.016129,0.0,0.0,0.0,0.0,0.838710,0.000000,0

In [17]:
# jointure des deux fichiers

bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')

del bb_agg
gc.collect()

bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)
bureau

,SK_ID_CURR,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,MONTHS_BALANCE_SIZE,STATUS_0_MEAN,STATUS_1_MEAN,STATUS_2_MEAN,STATUS_3_MEAN,STATUS_4_MEAN,STATUS_5_MEAN,STATUS_C_MEAN,STATUS_X_MEAN,STATUS_nan_MEAN
0,215354,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,215354,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,215354,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,215354,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215354,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716424,100044,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716425,100044,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716426,246829,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1716427,246829,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# préparation des agrégations

# variables numériques
num_aggregations = {
    'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
    'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
    'DAYS_CREDIT_UPDATE': ['mean'],
    'CREDIT_DAY_OVERDUE': ['max', 'mean'],
    'AMT_CREDIT_MAX_OVERDUE': ['mean'],
    'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
    'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
    'AMT_CREDIT_SUM_OVERDUE': ['mean'],
    'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
    'AMT_ANNUITY': ['max', 'mean'],
    'CNT_CREDIT_PROLONG': ['sum'],
    'MONTHS_BALANCE_MIN': ['min'],
    'MONTHS_BALANCE_MAX': ['max'],
    'MONTHS_BALANCE_SIZE': ['mean', 'sum']
}
# Variables catégorielles de bureau et bureau_balance
cat_aggregations = {}
for cat in bureau_cat: 
    cat_aggregations[cat] = ['mean']
for cat in bb_cat: 
    cat_aggregations[cat + "_MEAN"] = ['mean']
cat_aggregations

{'CREDIT_ACTIVE_Active': ['mean'],
 'CREDIT_ACTIVE_Bad debt': ['mean'],
 'CREDIT_ACTIVE_Closed': ['mean'],
 'CREDIT_ACTIVE_Sold': ['mean'],
 'CREDIT_ACTIVE_nan': ['mean'],
 'CREDIT_CURRENCY_currency 1': ['mean'],
 'CREDIT_CURRENCY_currency 2': ['mean'],
 'CREDIT_CURRENCY_currency 3': ['mean'],
 'CREDIT_CURRENCY_currency 4': ['mean'],
 'CREDIT_CURRENCY_nan': ['mean'],
 'CREDIT_TYPE_Another type of loan': ['mean'],
 'CREDIT_TYPE_Car loan': ['mean'],
 'CREDIT_TYPE_Cash loan (non-earmarked)': ['mean'],
 'CREDIT_TYPE_Consumer credit': ['mean'],
 'CREDIT_TYPE_Credit card': ['mean'],
 'CREDIT_TYPE_Interbank credit': ['mean'],
 'CREDIT_TYPE_Loan for business development': ['mean'],
 'CREDIT_TYPE_Loan for purchase of shares (margin lending)': ['mean'],
 'CREDIT_TYPE_Loan for the purchase of equipment': ['mean'],
 'CREDIT_TYPE_Loan for working capital replenishment': ['mean'],
 'CREDIT_TYPE_Microloan': ['mean'],
 'CREDIT_TYPE_Mobile operator loan': ['mean'],
 'CREDIT_TYPE_Mortgage': ['mean'],
 'CREDIT_TYPE_Real estate loan': ['mean'],
 'CREDIT_TYPE_Unknown type of loan': ['mean'],
 'CREDIT_TYPE_nan': ['mean'],
 'STATUS_0_MEAN': ['mean'],
 'STATUS_1_MEAN': ['mean'],
 'STATUS_2_MEAN': ['mean'],
 'STATUS_3_MEAN': ['mean'],
 'STATUS_4_MEAN': ['mean'],
 'STATUS_5_MEAN': ['mean'],
 'STATUS_C_MEAN': ['mean'],
 'STATUS_X_MEAN': ['mean'],
 'STATUS_nan_MEAN': ['mean']}

In [19]:
# agrégats

bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])

# Agrégation des attributs numériques des crédits actifs dans bureau.csv
active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')
del active, active_agg
gc.collect()

# Agrégation des attributs numériques des crédits fermés dans bureau.csv
closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')

In [20]:
bureau_agg

,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,BURO_CREDIT_DAY_OVERDUE_MEAN,...,CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_SUM,CLOSED_AMT_ANNUITY_MAX,CLOSED_AMT_ANNUITY_MEAN,CLOSED_CNT_CREDIT_PROLONG_SUM,CLOSED_MONTHS_BALANCE_MIN_MIN,CLOSED_MONTHS_BALANCE_MAX_MAX,CLOSED_MONTHS_BALANCE_SIZE_MEAN,CLOSED_MONTHS_BALANCE_SIZE_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000000,240043.666667,-1329.0,1778.0,82.428571,-93.142857,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-51.0,0.0,35.000000,140.0
100002,-1437,-103,-874.000000,186150.000000,-1072.0,780.0,-349.000000,-499.875000,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-47.0,0.0,15.000000,90.0
100003,-2586,-606,-1400.750000,827783.583333,-2434.0,1216.0,-544.500000,-816.000000,0,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
100004,-1326,-408,-867.000000,421362.000000,-595.0,-382.0,-488.500000,-532.000000,0,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
100005,-373,-62,-190.666667,26340.333333,-128.0,1324.0,439.333333,-54.333333,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-12.0,0.0,13.000000,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456249,-2713,-483,-1667.076923,407302.243590,-2499.0,1363.0,-1232.333333,-1064.538462,0,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
456250,-1002,-760,-862.000000,15724.000000,-272.0,2340.0,1288.333333,-60.333333,0,0.0,...,0.0,0.0,0.0,384147.0,384147.0,0.0,-32.0,0.0,33.000000,33.0
456253,-919,-713,-867.500000,10609.000000,-189.0,1113.0,280.500000,-253.250000,0,0.0,...,0.0,0.0,0.0,58369.5,58369.5,0.0,-30.0,0.0,31.000000,62.0
456254,-1104,-1104,-1104.000000,NaN,-859.0,-859.0,-859.000000,-401.000000,0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,-36.0,0.0,37.000000,37.0
456255,-2337,-363,-1089.454545,502786.672727,-1243.0,27320.0,3231.272727,-531.090909,0,0.0,...,0.0,0.0,0.0,3244.5,1297.8,1.0,-76.0,0.0,33.333333,200.0

In [21]:
# imputation par KNN

bureau_agg.replace(to_replace=np.inf, value=np.nan, inplace=True)
bureau_agg[bureau_agg.columns] = impute.KNNImputer().fit_transform(bureau_agg)

In [22]:
# jointure aux données principales

df = df.join(bureau_agg, how='left', on='SK_ID_CURR')

del bureau_agg
gc.collect()

print(f"Taille du data set : {df.shape}")
missing_values_prop = df.isnull().sum().sum()/df.size
print(f"Proportion de valeurs manquantes : {missing_values_prop}")

Taille du data set : (356251, 245)
Proportion de valeurs manquantes : 0.06760021697611848

# Prétraitement des demandes de crédit antérieures chez Home Credit

In [23]:
# récupération des données
prev = pd.read_csv('data/previous_application.csv')

# encodage des données catégorielles
prev, cat_cols = one_hot_encoder(prev, nan_as_category= True)

In [24]:
# traitement des valeurs aberrantes
prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

In [25]:
# nouvelle feature : pourcentage de la valeur demandée par rapport à la valeur reçue
prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']

In [26]:
# préparation des agrégations

# Variables numériques
num_aggregations = {
    'AMT_ANNUITY': ['min', 'max', 'mean'],
    'AMT_APPLICATION': ['min', 'max', 'mean'],
    'AMT_CREDIT': ['min', 'max', 'mean'],
    'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
    'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
    'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
    'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
    'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
    'DAYS_DECISION': ['min', 'max', 'mean'],
    'CNT_PAYMENT': ['mean', 'sum'],
}
# Variables catégorielles
cat_aggregations = {}
for cat in cat_cols:
    cat_aggregations[cat] = ['mean']
    
cat_aggregations

{'NAME_CONTRACT_TYPE_Cash loans': ['mean'],
 'NAME_CONTRACT_TYPE_Consumer loans': ['mean'],
 'NAME_CONTRACT_TYPE_Revolving loans': ['mean'],
 'NAME_CONTRACT_TYPE_XNA': ['mean'],
 'NAME_CONTRACT_TYPE_nan': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_FRIDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_MONDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_SATURDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_SUNDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_THURSDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_TUESDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_nan': ['mean'],
 'FLAG_LAST_APPL_PER_CONTRACT_N': ['mean'],
 'FLAG_LAST_APPL_PER_CONTRACT_Y': ['mean'],
 'FLAG_LAST_APPL_PER_CONTRACT_nan': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Building a house or an annex': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Business development': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a garage': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a home': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a new car': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a used car': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Car repairs': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Education': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Everyday expenses': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Furniture': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Gasification / water supply': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Hobby': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Journey': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Medicine': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Money for a third person': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Other': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Payments on other loans': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Refusal to name the goal': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Repairs': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Urgent needs': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_XAP': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_XNA': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_nan': ['mean'],
 'NAME_CONTRACT_STATUS_Approved': ['mean'],
 'NAME_CONTRACT_STATUS_Canceled': ['mean'],
 'NAME_CONTRACT_STATUS_Refused': ['mean'],
 'NAME_CONTRACT_STATUS_Unused offer': ['mean'],
 'NAME_CONTRACT_STATUS_nan': ['mean'],
 'NAME_PAYMENT_TYPE_Cash through the bank': ['mean'],
 'NAME_PAYMENT_TYPE_Cashless from the account of the employer': ['mean'],
 'NAME_PAYMENT_TYPE_Non-cash from your account': ['mean'],
 'NAME_PAYMENT_TYPE_XNA': ['mean'],
 'NAME_PAYMENT_TYPE_nan': ['mean'],
 'CODE_REJECT_REASON_CLIENT': ['mean'],
 'CODE_REJECT_REASON_HC': ['mean'],
 'CODE_REJECT_REASON_LIMIT': ['mean'],
 'CODE_REJECT_REASON_SCO': ['mean'],
 'CODE_REJECT_REASON_SCOFR': ['mean'],
 'CODE_REJECT_REASON_SYSTEM': ['mean'],
 'CODE_REJECT_REASON_VERIF': ['mean'],
 'CODE_REJECT_REASON_XAP': ['mean'],
 'CODE_REJECT_REASON_XNA': ['mean'],
 'CODE_REJECT_REASON_nan': ['mean'],
 'NAME_TYPE_SUITE_Children': ['mean'],
 'NAME_TYPE_SUITE_Family': ['mean'],
 'NAME_TYPE_SUITE_Group of people': ['mean'],
 'NAME_TYPE_SUITE_Other_A': ['mean'],
 'NAME_TYPE_SUITE_Other_B': ['mean'],
 'NAME_TYPE_SUITE_Spouse, partner': ['mean'],
 'NAME_TYPE_SUITE_Unaccompanied': ['mean'],
 'NAME_TYPE_SUITE_nan': ['mean'],
 'NAME_CLIENT_TYPE_New': ['mean'],
 'NAME_CLIENT_TYPE_Refreshed': ['mean'],
 'NAME_CLIENT_TYPE_Repeater': ['mean'],
 'NAME_CLIENT_TYPE_XNA': ['mean'],
 'NAME_CLIENT_TYPE_nan': ['mean'],
 'NAME_GOODS_CATEGORY_Additional Service': ['mean'],
 'NAME_GOODS_CATEGORY_Animals': ['mean'],
 'NAME_GOODS_CATEGORY_Audio/Video': ['mean'],
 'NAME_GOODS_CATEGORY_Auto Accessories': ['mean'],
 'NAME_GOODS_CATEGORY_Clothing and Accessories': ['mean'],
 'NAME_GOODS_CATEGORY_Computers': ['mean'],
 'NAME_GOODS_CATEGORY_Construction Materials': ['mean'],
 'NAME_GOODS_CATEGORY_Consumer Electronics': ['mean'],
 'NAME_GOODS_CATEGORY_Direct Sales': ['mean'],
 'NAME_GOODS_CATEGORY_Education': ['mean'],
 'NAME_GOODS_CATEGORY_Fitness': ['mean'],
 'NAME_GOODS_CATEGORY_Furniture': ['mean'],
 'NAME_GOODS_CATEGORY_Gardening': ['mean'],
 'NAME_GOODS_CATEGORY_Homewares': ['mean'],
 'NAME_GOODS_CATEGORY_House Construction': ['mean'],
 'NAME_GOODS_CATEGORY_Insurance': ['mean'],
 'NAME_GOODS_CATEGORY_Jewelry': ['mean'],
 'NAME_GOODS_CATEGORY_Medical Supplies': ['mean'],
 'NAME_GOODS_CATEGORY_Medicine': ['mean'],
 'NAME_GOODS_CATEGORY_Mobile': ['mean'],
 'NAME_GOODS_CATEGORY_Office Appliances': ['mean'],
 'NAME_GOODS_CATEGORY_Other': ['mean'],
 'NAME_GOODS_CATEGORY_Photo / Cinema Equipment': ['mean'],
 'NAME_GOODS_CATEGORY_Sport and Leisure': ['mean'],
 'NAME_GOODS_CATEGORY_Tourism': ['mean'],
 'NAME_GOODS_CATEGORY_Vehicles': ['mean'],
 'NAME_GOODS_CATEGORY_Weapon': ['mean'],
 'NAME_GOODS_CATEGORY_XNA': ['mean'],
 'NAME_GOODS_CATEGORY_nan': ['mean'],
 'NAME_PORTFOLIO_Cards': ['mean'],
 'NAME_PORTFOLIO_Cars': ['mean'],
 'NAME_PORTFOLIO_Cash': ['mean'],
 'NAME_PORTFOLIO_POS': ['mean'],
 'NAME_PORTFOLIO_XNA': ['mean'],
 'NAME_PORTFOLIO_nan': ['mean'],
 'NAME_PRODUCT_TYPE_XNA': ['mean'],
 'NAME_PRODUCT_TYPE_walk-in': ['mean'],
 'NAME_PRODUCT_TYPE_x-sell': ['mean'],
 'NAME_PRODUCT_TYPE_nan': ['mean'],
 'CHANNEL_TYPE_AP+ (Cash loan)': ['mean'],
 'CHANNEL_TYPE_Car dealer': ['mean'],
 'CHANNEL_TYPE_Channel of corporate sales': ['mean'],
 'CHANNEL_TYPE_Contact center': ['mean'],
 'CHANNEL_TYPE_Country-wide': ['mean'],
 'CHANNEL_TYPE_Credit and cash offices': ['mean'],
 'CHANNEL_TYPE_Regional / Local': ['mean'],
 'CHANNEL_TYPE_Stone': ['mean'],
 'CHANNEL_TYPE_nan': ['mean'],
 'NAME_SELLER_INDUSTRY_Auto technology': ['mean'],
 'NAME_SELLER_INDUSTRY_Clothing': ['mean'],
 'NAME_SELLER_INDUSTRY_Connectivity': ['mean'],
 'NAME_SELLER_INDUSTRY_Construction': ['mean'],
 'NAME_SELLER_INDUSTRY_Consumer electronics': ['mean'],
 'NAME_SELLER_INDUSTRY_Furniture': ['mean'],
 'NAME_SELLER_INDUSTRY_Industry': ['mean'],
 'NAME_SELLER_INDUSTRY_Jewelry': ['mean'],
 'NAME_SELLER_INDUSTRY_MLM partners': ['mean'],
 'NAME_SELLER_INDUSTRY_Tourism': ['mean'],
 'NAME_SELLER_INDUSTRY_XNA': ['mean'],
 'NAME_SELLER_INDUSTRY_nan': ['mean'],
 'NAME_YIELD_GROUP_XNA': ['mean'],
 'NAME_YIELD_GROUP_high': ['mean'],
 'NAME_YIELD_GROUP_low_action': ['mean'],
 'NAME_YIELD_GROUP_low_normal': ['mean'],
 'NAME_YIELD_GROUP_middle': ['mean'],
 'NAME_YIELD_GROUP_nan': ['mean'],
 'PRODUCT_COMBINATION_Card Street': ['mean'],
 'PRODUCT_COMBINATION_Card X-Sell': ['mean'],
 'PRODUCT_COMBINATION_Cash': ['mean'],
 'PRODUCT_COMBINATION_Cash Street: high': ['mean'],
 'PRODUCT_COMBINATION_Cash Street: low': ['mean'],
 'PRODUCT_COMBINATION_Cash Street: middle': ['mean'],
 'PRODUCT_COMBINATION_Cash X-Sell: high': ['mean'],
 'PRODUCT_COMBINATION_Cash X-Sell: low': ['mean'],
 'PRODUCT_COMBINATION_Cash X-Sell: middle': ['mean'],
 'PRODUCT_COMBINATION_POS household with interest': ['mean'],
 'PRODUCT_COMBINATION_POS household without interest': ['mean'],
 'PRODUCT_COMBINATION_POS industry with interest': ['mean'],
 'PRODUCT_COMBINATION_POS industry without interest': ['mean'],
 'PRODUCT_COMBINATION_POS mobile with interest': ['mean'],
 'PRODUCT_COMBINATION_POS mobile without interest': ['mean'],
 'PRODUCT_COMBINATION_POS other with interest': ['mean'],
 'PRODUCT_COMBINATION_POS others without interest': ['mean'],
 'PRODUCT_COMBINATION_nan': ['mean']}

In [27]:
# agrégats 

prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])

# Agrégation des attributs numériques des crédits accordés
approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')

# Agrégation des attributs numériques des crédits refusés 
refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')

In [ ]:
# imputation par KNN

prev_agg.replace(to_replace=np.inf, value=np.nan, inplace=True)
prev_agg[prev_agg.columns] = impute.KNNImputer().fit_transform(prev_agg)

In [ ]:
# jointure aux données principales

df = df.join(prev_agg, how='left', on='SK_ID_CURR')

del prev_agg
gc.collect()

print(f"Taille du data set : {df.shape}")
missing_values_prop = df.isnull().sum().sum()/df.size
print(f"Proportion de valeurs manquantes : {missing_values_prop}")

# Prétraitement des données POS-Cash

In [ ]:
# lecture des données
pos = pd.read_csv('data/POS_CASH_balance.csv')
pos, cat_cols = one_hot_encoder(pos, nan_as_category= True)
# agrégations des données
aggregations = {
    'MONTHS_BALANCE': ['max', 'mean', 'size'],
    'SK_DPD': ['max', 'mean'],
    'SK_DPD_DEF': ['max', 'mean']
}
for cat in cat_cols:
    aggregations[cat] = ['mean']

pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
# décompte des comptes
pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()
# imputation par KNN
pos_agg.replace(to_replace=np.inf, value=np.nan, inplace=True)
pos_agg[pos_agg.columns] = impute.KNNImputer().fit_transform(pos_agg)
# jointure
df = df.join(pos_agg, how='left', on='SK_ID_CURR')

del pos_agg
gc.collect()

print(f"Taille du data set : {df.shape}")
missing_values_prop = df.isnull().sum().sum()/df.size
print(f"Proportion de valeurs manquantes : {missing_values_prop}")

# Prétraitement des données des versements

In [ ]:
# lecture des données
ins = pd.read_csv('data/installments_payments.csv')
ins, cat_cols = one_hot_encoder(ins, nan_as_category= True)
# nouveaux attributs : pourcentage et différence entre la valeur payée et la mensualité prévue
ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']
# nouveaux attributs : nombres de jours d'arriérés et de versement anticipés (pas de valeur négative)
ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)
# agrégations
aggregations = {
    'NUM_INSTALMENT_VERSION': ['nunique'],
    'DPD': ['max', 'mean', 'sum'],
    'DBD': ['max', 'mean', 'sum'],
    'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
    'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
    'AMT_INSTALMENT': ['max', 'mean', 'sum'],
    'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
    'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
}
for cat in cat_cols:
    aggregations[cat] = ['mean']
ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])
# décompte des versements
ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()
# imputation par KNN
ins_agg.replace(to_replace=np.inf, value=np.nan, inplace=True)
ins_agg[ins_agg.columns] = impute.KNNImputer().fit_transform(ins_agg)
# jointure
df = df.join(ins_agg, how='left', on='SK_ID_CURR')

del ins_agg
gc.collect()

print(f"Taille du data set : {df.shape}")
missing_values_prop = df.isnull().sum().sum()/df.size
print(f"Proportion de valeurs manquantes : {missing_values_prop}")

# Prétraitement des données sur les cartes de crédit

In [ ]:
cc = pd.read_csv('data/credit_card_balance.csv')
cc, cat_cols = one_hot_encoder(cc, nan_as_category= True)
# agrégations
cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
# Décompte des lignes pour chaque client
cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()
# imputation par KNN
cc_agg.replace(to_replace=np.inf, value=np.nan, inplace=True)
cc_agg[cc_agg.columns] = impute.KNNImputer().fit_transform(cc_agg)
# jointure
df = df.join(cc_agg, how='left', on='SK_ID_CURR')

del cc_agg
gc.collect()

print(f"Taille du data set : {df.shape}")
missing_values_prop = df.isnull().sum().sum()/df.size
print(f"Proportion de valeurs manquantes : {missing_values_prop}")

# Enregistrement des données finales

In [ ]:
train_df = df[df['TARGET'].notnull()]
test_df = df[df['TARGET'].isnull()]
print(f"Train : {train_df.shape}")
print(f"Test : {test_df.shape}")

In [ ]:
train_df.to_csv("data/train_df.csv", index=False)
test_df.to_csv("data/test_df.csv", index=False)

pickle.dump(cat_features, open("pickle_cat_features.pkl", "wb"))
pickle.dump(categorical_names, open("pickle_categorical_names.pkl", "wb"))